/*
HOME PAGE
----------------------------
slno          Content  
--------- ------------------
 1.			Header Part  
 2.			Slider Image 
 3.			Link Box    
 4.			Remove Black Shadow and Carousel
 5.			Resaons Why
 6.			About College And Gallery
 7.			Youtube Video
 8.         Quote Section
 9.         Job Section
*/

*{
	scroll-behavior: smooth;
	text-decoration: none;	
}
body{
margin: 0px;
padding: 0px;

}
.default-section{
	background: url('img/Marble-texture.jpg');
	
}
/*
----------------------------------------------------------------
1.               Header Part CSS code
----------------------------------------------------------------
*/

header{
	position: fixed;
    width: 90%;
	background: #fff;
	box-sizing: border-box;
	border-radius: 4px;
	box-shadow: 0 2px 5px rgba(0,0,0,0.2);
 	top: 0px ;
	left: 5%;
	z-index: 99999;
}
.logo{
color: #069370;
height: 50px;
font-size: 40px;
text-align: center;
float: left;
font-weight: 700;
text-decoration: none;
padding-left: 20px;
line-height: 180%;
animation-delay: 4s;
}
.logo:hover{
	text-decoration:none;
}
.logo-img{
	height: 55px;
	width: 65px;

}
nav{
	float: right;
	
}
.clearfix{
	clear: both;
}
nav ul{
	margin: 10px;
	padding: 0px;
	display: flex;
   
}
nav ul li{
	list-style: none;
}
nav ul li a{
	display: block;
	margin: 10px 0;
	padding: 10px 20px;
	text-decoration: none;
	color: #262626;
	font-weight: bold;
	font-family: 'Poppins', sans-serif;
}
nav ul li a.active,nav ul li a:hover{
	background: #069370;
	color: #fff;
	transition: 0.5s;
	text-decoration: none;
}


@media (max-width:768px) {
	header{
		width:100%;
        left:0px;
	}
	.logo{
		font-size: 19px;
		padding-top: 5px;
	}
	.logo-img{
		height: 45px;
		width: 50px;
	}
.menu-toggle{
	display: block;
	float: right;
	width: 40px;
	height: 40px;
        margin:10px 5px 10px 5px;
	cursor: pointer;
	text-align: center;
	font-size: 30px;
	color: #069370;
	}
	.menu-toggle:before{
		content: '\f0c9';
		font-family: fontAwesome;
		line-height: 40px;
	}
	.menu-toggle.active:before{
		content: '\f00d';
	}
	nav{
		display: none;
	}
	nav.active{
		display: block;
		width: 100%;
		
	}
	nav.active ul{
		display: block;
	}
}
/*
----------------------------------------------------------------
2.              Slider Image  Part CSS code
----------------------------------------------------------------
*/
.slider-section
{
	width: 100%;
	padding: 0;
	}
.item{
	width: 100%;
	height: 100vh;
	
}
.home-img{
	opacity: 0.6;
}
.carousel-indicators{
	bottom: 10px !important;
	position: absolute;
	z-index: 1 !important;
}
.carousel-indicators li{
	background-color: #069370 !important;
	border: 1px solid black;
	
}
.carousel-caption h3{
	font-size: 48px;
	font-weight: bold;
	font-family: 'Roboto Slab', serif;
	color: white !important;
	letter-spacing: 15px;
	bottom: 200px;
	position: relative;
	}
	.carousel-caption p{
		font-size: 28px;
		color: rgb(225, 240, 16)!important;
		bottom: 150px;
		font-weight: bold;
		letter-spacing: 5px;
		position: relative;
		
		}
		
@media only screen and (max-width:768px) {
	.slider-section{
	width: 100%;
	height: 100%;
	}
	
	.carousel-caption h3{
		font-size: 28px;
		bottom: 100px;
		letter-spacing: 3px;
		}
		.carousel-caption p{
			font-size: 18px;
			bottom: 50px;
		}
		
		
}


/*
----------------------------------------------------------------
3.               Link Box  Css
----------------------------------------------------------------
*/
.link-box{
    width: 100%;
	padding: 0px 15% 10px 15%;
}
.details-box{
	padding: 30px;
	height: 30vh;
	 margin-bottom: 20px;/*for mobile version  */
}
.detail{
	font-family: poppins;
	color: white !important;	
}
.details-box i{
	z-index: 99999;
	position: fixed;
	font-size: 25px;
	background: white;
	border-radius: 50%;
	padding: 10px;
	text-align: center;
}
.details-box i.more{
bottom: -5px;
left: 50%;
position: absolute;
transform: translate(-50%);
}
.link-box #admission-enquiry{
	background: #c32a07;
	padding: 30px;
}
.link-box #admission-enquiry i{
	color: #c32a07;
	border: 2px solid#c32a07;
	bottom: -1px;
}

/*
----------------------------------------------------------------
3.               (b)Notice  Part CSS code
----------------------------------------------------------------
*/
.link-box #notice-board{
	background: #2196F3;
	padding: 0px;
}
.link-box #notice-board i{
	color: #2196F3;
	border: 2px solid#2196F3;
	position: fixed;
}
#noticeCarousel .item{
	height: 15vh;
}
#noticeCarousel h2{
	padding: 0px;
}
.date{
	font-weight: bold;
	background-color: #000;
}
#noticeCarousel p{
	font-weight: bold;
	font-size: 15px;
	padding: 0px 3px 0px 3px;
	color: #000;
}
/*
----------------------------------------------------------------
3.              (c) Achievement  Part CSS code
----------------------------------------------------------------
*/

.link-box #achievement{
	background: #f0bc01;
		
}
.link-box #achievement i{
	color: #f0bc01;
	
	border: 2px solid#f0bc01;
}

#topperCarousel .item{
	height: 10vh;
}
#achievement h3{
	top: 0px;
	margin: 11px;
	left: 50%;
	transform: translate(-50%,-50%);
	position: absolute;
	z-index: 999;
}


.topper-img{
	float: left;
	width: 50%;
	height: 25vh;
}

.topper-mark{
	float: left;
	width: 50%;
}

.topper-mark h5{
	font-size: 17px;
	font-family: 'Aclonica';
	font-weight: 400;
	
}
.topper-mark p{
	letter-spacing: 1px;
}

/*
----------------------------------------------------------------
4          Remove Black Shadow and Carousel
----------------------------------------------------------------
*/
.carousel-control.left, .carousel-control.right {
	background-image:none !important;
	filter:none !important;

	
 }
 .carousel:hover i{
	 display: block;
	 
 }
 .carousel-control i{
	border-radius: 50%;
	padding: 10px;
	bottom: 70px;
	position: fixed;
	display: none;
 }
 @media only screen and (max-width:768px){
	.carousel i{
		display: block;
	}
 }

/*
----------------------------------------------------------------
5.               Resaons Why  Part CSS code
----------------------------------------------------------------
*/
.reason-section{
	margin-top: 2% !important;
}
 .reason-section h2{
font-family: 'Sofia';
text-align: center;
}
.service-box{
	font-family: 'Poppins', sans-serif;
	background: #fff;
	border: 1px solid #e6e6e6;
	padding: 20px;
	border-radius: 5px;
	margin: 15px 0px 15px 0px;
	-webkit-transition-duration: .3s;
	transition-duration: .3s;
}

.box-icon{
	float: left;
	width: 25%;
	text-align: center;
	padding-top: 15px;
}

.box-icon i{
	font-size: 38px;
	color: #45deb0;
	transition: all .2s ease-in-out;
}

.box-content{
	float: right;
	width: 75%;
}

.box-content h5{
	font-size: 17px;
	font-weight: 400;
	color: #525252;
	line-height: 180%;
	margin-left: 15px;
	margin-bottom: 5px;
}

.box-content p{
	font-size: 15px;
	font-weight: 400;
	color: #aaa;
	line-height: 180%;
	margin-left: 15px;
	margin-bottom: 0px;
}

.service-box:hover{
	box-shadow: 0 0 50px 10px rgba(0,0,0,.06);
}
@media (max-width:768px) {
    .box-icon i{
	font-size: 35px;
	
}
    
    
}
/*
------------------------------------------------------------------------------------------------------------------------------------------
6.              About College And Gallery
------------------------------------------------------------------------------------------------------------------------------------
*/
.jumbotron{
	background-size: cover;
	background-attachment: fixed;
	background-image:  linear-gradient(rgba(255,255,255,0.6),rgba(255,255,255,0.6)),url('img/IMG-20190512-WA0001.jpg');
	margin-bottom: 0px;
}

/*
------------------------------------------------------------------------------------------------------------------------------------------
7.              Youtube Video   Part CSS code
------------------------------------------------------------------------------------------------------------------------------------
*/
.video-section{
	margin: 10% 15% 10% 15%;
	
}
.video-section h1{
	font-family: poppins;
	font-weight: bold;
	font-size: 48px;
	margin: 0px 0px 10px 0px;
	padding: 0px;
}
.view-more{
	bottom: 0px;
	position: absolute;
	left: 50%;
	width: 92.5%;
	transform: translate(-50%);
	text-align: center;
	background: rgb(238, 226, 226);
}
.view-more a{
	color: green;
	font-size: 15px;
	font-family: poppins;
}
.view-more a:hover{
	text-decoration: none;
}
.video-section p{
	font-family: poppins;
	font-size: 15px;
	
}

iframe{
	height: 40vh;
	
}
@media only screen and (max-width:768px){
	.video-section{
		margin: 10% 5% 10% 5%;
	}
	.video-section h1{
		font-size: 28px;
		margin: 0px 0px 10px 0px;
		padding: 0px;
	}
	iframe{
		height: 25vh;
	}
}
/*
----------------------------------------------------------------
8.               Quote Section
----------------------------------------------------------------
*/
#quote-section{
	width: 100%;
	height: 50vh;
	margin: 0 0 10% 0;
	padding: 0;
	background: url('img/Marble-texture.jpg');
	text-align: center;
	font-family: "Barlow" !important;
}
.center-div{
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	position: relative;
	width: 100%;
	padding: 0 15% 0 15%;
}
#quote-section h3{
	line-height: 36px!important;
    font-weight: 500;
	color: #363636;
	transition: 0.6s;
	padding: 0 15% 0 15%;
}
#quote-section p{
	margin-top: 5%;
	font-size: 14px;
    font-weight: bold !important;
	color: #069370;
	transition: 0.6s;
}
#quote-section:hover h3{
	color: #069370;
}
#quote-section:hover p{
	color: #363636;
}
/*
----------------------------------------------------------------
9.               Admission Section
----------------------------------------------------------------
*/
#con-section{
	width: 100%;
	height: 40vh;
	
	
}

/*
----------------------------------------------------------------
10.               Job Section
----------------------------------------------------------------
*/

#job-section{
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 50vh;
	background-image:  url('img/Marble-texture.jpg');
	opacity: 0.9;
	background-repeat: no-repeat;
}
#job-section img{
	left: 0px;
	width:40%;
	height: 50vh;
}
.job-div{
	text-align: right;
	font-family: Poppins !important;
	width:60%;
	height: 50vh;
	padding: 10% 7% 10% 10%;
	float: right;
}

.job-div h2{
	font-weight: bold;
	font-size: 48px;
	letter-spacing: 1px;
}
.job-div .btn{
	font-size: 18px;
	padding: 10px;
	background-color: #069370; 
	color: #ffffff;
	border-radius: 35px;
}
#job-section .btn:hover{
	background-color:#262626; 
	color: #f3e51c;
}
@media only screen and (max-width:768px){
	#job-section img{
		left: 0px;
		width:60%;
	}
	.job-div {
		width:40%;
	}
	.job-div h2{
		font-weight: bold;
		font-size: 28px;
		letter-spacing: 1px;
	}
	.job-div .btn{
		font-size: 16px;
		margin-top: 10px;
		padding: 7px;
		background-color: #069370; 
		color: #ffffff;
		border-radius: 35px;
	}

}

/*
Contact PAGE
----------------------------
slno          Content  
--------- ------------------
 1.			Main Poster Telephone  
 2.			Animated Down Arrow 
 3.			Contact us Box    
 4.			Social Icons	
*/

/*
------------------------------------------------------------------------------------------------------------------------------------------
1.              Main Poster Telephone
------------------------------------------------------------------------------------------------------------------------------------
*/

.contact-poster{
	width: 100%;
	height: 93vh;
	background-attachment: fixed;
	background-image: url('img/contact.jpg');
	background-size: 100% 100%;
}
.contact-poster h1{
	top: 50%;
	left: 50%;
	position: absolute;
	color:#069370;
	font-size: 50px;
	font-weight: 400;
	transform: translate(-50%,-50%);
}

@media only screen and (max-width:768px) {
	.contact-poster{
		
		height: 90vh;
	}
	.contact-poster h1{
	top: 80% ;
	font-size: 32px;
	font-weight: bold;
	}

}
/*
------------------------------------------------------------------------------------------------------------------------------------------
2.              Animated Down Arrow 
------------------------------------------------------------------------------------------------------------------------------------
*/
.scroll-container  {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: white;
	width: 100%;
	animation-iteration-count: infinite;
  }
  .scroll-container a{
	animation-iteration-count: infinite;
	animation-duration: 3s;
  }
  .scroll-container a:hover{
	  animation-name: none;
  }
.space{
	width: 100%;
	height:10vh;
	
}
.arrow {
	box-sizing: border-box;
	height: 1vw;
	width: 1vw;
	border-style: solid;
	border-color: black;
	border-width: 0px 2px 2px 0px;
	transform: rotate(45deg);
	transition: border-width 150ms ease-in-out;
  }
  
  .arrow:hover {
	border-bottom-width: 4px;
	border-right-width: 4px;
  }
  @media only screen and (max-width:608px){
	.arrow {
		height: 15px;
		width: 15px;
	}

  }
/*
------------------------------------------------------------------------------------------------------------------------------------------
3.              Contact us Box 
------------------------------------------------------------------------------------------------------------------------------------
*/


.contact-box{
	border-bottom: 2px solid #45deb0;
	border: 1px solid #f1f1f1; 
	padding: 30px 20px 40px 20px;
	margin: 10px 0px 10px 0px;
	-webkit-transition-duration: .3s;
	transition-duration: .3s;
}
.contact-box:hover{
	background: #f9f9f9;
	border-bottom: 2px solid #45deb0;  
}
.contact-box:hover .contact-icon i{
	color: #069370;  
}
.contact-icon{
	float: left;
	text-align: center;
	padding: 0px 15px 10px 0px;
	width: 25%;
}

.contact-icon i{
	font-size: 55px;
	color: #525252;
	margin-top: 5px;
	-webkit-transition-duration: .3s;
	transition-duration: .3s;
}


.contact-info{
	float: left;
	width: 75%;
}

.contact-info h4{
	font-size: 20px; 
	font-weight: 400;
	color: #525252;
}

.contact-info p{
	font-size: 15px; 
	color: #aaa;
	line-height: 170%;
	margin-top: 15px;
}

/*
----------------------------------------------------------------
4.            Social Icons
----------------------------------------------------------------
*/
.social-media{
	width: 100%;
	height:auto;
    margin-top: 25px;
}
.social-media i{
	font-size: 35px;
	color: #525252;
}
.social-media i:hover{
	color: #807474;
}
.social-media span{
	letter-spacing: 2px;
	font-family: Poppins;
	margin-left: 2px;
	font-size: 15px;
	color: #525252;
	line-height: 1.9;
}

/*
----------------------------------------------------------------
5.            Google Map Iframe
----------------------------------------------------------------
*/
#map-frame{
	border: 2px solid #525252;
}
#map-frame:hover{
	opacity: 0.8;
}

/*
----------------------------------------------------------------
1.               About Section CSS code
----------------------------------------------------------------
*/
.about-section{
	margin-top: 400px;
	padding: 100px 0px 90px 0px;
	background-color: #fff;
}	
.about-heading{
	margin-bottom: 10px;
}
.heading-line{
	display: block;	
	content: "";
	width: 50px;
	height: 1px;
	background: #45deb0;
	margin: auto;
	margin-bottom: 15px;	
}

.about-heading p{
	font-size: 16px;
	font-weight: 400;
	color: #aaa;
	line-height: 160%;
	padding-top: 5px;
	margin-bottom: 0px;
}
.about-heading span{
	display: block;
	font-size: 15px;
	font-weight: 600;
	color: #45deb0;
	line-height: 200%;
}

.message-block{
	padding: 90px 0px 90px 0px;	
	background-color: #f1f1f1;
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
}
.sir-section{
	margin-bottom: 50px;

}
.staff-section{
	background-color: rgba(0,0,0,0.1);
	padding-top: 20px;
}
.staff-img{
	
	border: 1px solid black;
	border-radius: 25px;

}
 .staff-details{
 	
margin-bottom: 20px;
	margin-right: 5px;
background-color:rgba(0,0,0,0.3);
border-radius: 25px;
color: white;
}



/*
Utility 
----------------------------
slno          Content  
--------- ------------------
 1.			Form Submission button 
 2.			TEXT BLINKING AND TEXT HIGHLIGHT 
 3.			Form Submission (contact and admission)
*/

/*
----------------------------------------------------------------
1.           Form Submission button
----------------------------------------------------------------
*/
.submit-button{
	margin-bottom: 20px;
	}
	
	/*
	----------------------------------------------------------------
	2.             TEXT BLINKING AND TEXT HIGHLIGHT
	----------------------------------------------------------------
	*/
	
	
	.blinking{
		animation:blinkingText 0.8s 2;
	}
	@keyframes blinkingText{
		0%{     color: #000;    }
	   
		50%{    color: red; }
		99%{    color:transparent;  }
		100%{   color: #000;    }
	}
	.highlight {
		background-color: #fff2ac;
		background-image: linear-gradient(to right, #ffe359 0%, #fff2ac 100%);
	}
	
	/*
	----------------------------------------------------------------
	3.            Form Submission (contact and admission)
	----------------------------------------------------------------
	*/
	.alert-white{
		background: rgba(255,255,255,0.5);
	}
	.watermark{
		font-family: Montserrat;
		color:rgb(158, 152, 152);
		font-size:160px;
		bottom: 30%;
		left: 20%;
		z-index: 0;
		transform:rotate(350deg);
		-webkit-transform:rotate(350deg);
	}
	@media only screen and (max-width:608px){
.watermark{
	font-size:100px;
}
	}
	.gvjc-form{
		padding: 90px 0px 0px 0px;	
		background: url('../img/Marble-texture.jpg');
		background-attachment: fixed;
		background-size: cover;
		background-repeat: no-repeat;
	}
	 .application-heading{
		top: 0px;
		z-index: 1;
		font-family: Montserrat;
		line-height: 150%;
		letter-spacing: 7px;
		font-weight: 600;
		position: relative;
	}
	.application-border{
letter-spacing: 5px;
font-size: 18px;
	}
	.gvjc-form input, .gvjc-form textarea{
		color: #1FA2FF;  
		font-size: 14px;
		font-weight: 500;
		border-radius: 2px;
		border: 1px solid rgb(206, 192, 192);
		overflow: hidden;
		width: 100%;
		margin: 0px 0px 20px 0px; 
		padding: 12px 15px 12px 15px;
		-webkit-transition-duration: .3s;
		transition-duration: .3s;    	
	}
	
	.gvjc-form input:focus{
		border-color:  #1FA2FF;  
	}
	
	.gvjc-form textarea{
		min-height: 150px;
	}
	
	.gvjc-form textarea:focus{
		border: 1px solid #444fa9;
	}

	.fileUpload {
		position: relative;
		overflow: hidden;
		margin: 10px;
	}
	.fileUpload input.upload {
		position: absolute;
		top: 0;
		right: 0;
		margin: 0;
		padding: 0;
		font-size: 20px;
		cursor: pointer;
		opacity: 0;
		filter: alpha(opacity=0);
	}
	@media only screen and (max-width:768px){
		.alert-white{
			position: absolute;
		}
		
		.application-heading{
			top: -190px;
			font-size: 22px;
			letter-spacing: 5px;
		}
		.application-border{
		display: none;
		}
		.gvjc-form form{
			
			position: relative;
		}
	}	
			
/*
----------------------------------------------------------------
4.               Layer Section
----------------------------------------------------------------
*/
#layer-section{
		position: relative;
		padding: -10px;
		width: 100%;
		height: 65vh;
		z-index: 0;
		background: url('../img/notebook.png');
		background-repeat: no-repeat;
	}
	#layer-section img{
		transition: 1s;
	}
	#layer-section .pen-1:hover{
		padding: 33px;
	-webkit-transform: rotate(-8deg);
		transform: rotate(-8deg);
	transition: 1s;
	}
	#layer-section .pen-2:hover{
	-webkit-transform: rotate(-28deg);
		transform: rotate(-28deg);
	transition: 1s;
	}
	#layer-section .pen-3:hover{
		padding: 33px;
	-webkit-transform: rotate(-18deg);
		transform: rotate(-18deg);
	transition: 1s;
	}
	@media only screen and (max-width:768px){
		#layer-section{
			top: -40px;
			height: 40vh;
		}
		#layer-section .pen-3{
			display: none;
		}
		
	}	
/*
----------------------------------------------------------------
5.              Square Section
----------------------------------------------------------------
*/
.square-bg{
	background-image: url('img/square-pattern.jpg');
}
/*
----------------------------------------------------------------
             Gallery
----------------------------------------------------------------
*/
.heading-breadcrumb {
    text-align: center;
    background-size: acover;
	height: 40vh;
	padding:10%;
	margin: 0px;
	
}
.gallery-cover{
	background-image: url(img/blog-bc-bg.png);
}
.heading-breadcrumb h2 {
    font-size: 40px;
	color: #fff;
	font-weight: 600;
    font-family: 'Montserrat';
}
.bread-crumb-line, .bread-crumb-line a{
    font-size: 19px !important;
	color: #fff !important;
	font-weight: 400 !important;
	line-height: 1.5 !important;
	text-decoration: none;
}
.breadcrumb-below{
	margin-top: -15px;
	padding: 0px;
	height: 5vh;
	background-image: url(img/menu-bg-blue.png);
	transform: rotate(-180deg);
	background-repeat: repeat-x;
}
.gallery-heading{
	width: 100%;
	height: 10vh;
	text-align: center;
	margin: 10px 0px 30px 0px;
}
.box-heading{
	font-size: 32px;
	font-weight: 600;
	letter-spacing: 2px;
	font-family: 'Montserrat';
	color: #EE4634;
}
.enroll-section{
	background-image: url('img/news-letter-bg-2.jpg');
	width: 100%;
	height: 60vh;
	text-align: center;
}
.enroll-section img{
	margin-top: -40px;
	left: 50%;
	
}
.enroll-section h1{
	color: #fff;
	font-weight: bold;
	line-height: 1.2;
	font-size: 28px;
	font-family: 'Montserrat';
	padding: 10px 27% 10px 27%;
}
.enroll-button{
	font-size: 18px;
    color: #fff;
	background-color:	#5DBCD2!important;
    padding: 9px 20px;
    display: inline-block;
    border-radius: 5px;
	font-family: 'Montserrat';
}
.enroll-button:hover{
	text-decoration: none;
	color: rgb(241, 236, 236);
}

.better-section{
	text-align: right;
	
}


.tringle{
	margin-top: 10%;
	background-image: url('img/footer-two-bg.png');
	height: 10vh;
	background-repeat: repeat-x;
}
@media  only screen and (max-width:768px){
	.heading-breadcrumb{
		height: 30vh;
		padding: 15%;
	}

	.enroll-section h1{
		font-size: 21px;
	padding: 10px 17% 10px 17%;
	}
}
/*
----------------------------------------------------------------
             Admin panel
----------------------------------------------------------------
*/
.admin{
	background-color: #069370;
	 font-family: 'Aclonica';
}


.admin-top
{
  position: fixed;
  width: 100%;
  height: 45px;
  top: 0px;
  left:10%;
  z-index: 1;
}

.admin-logout
{
  position: fixed;
  width: 100%;
  height: 45px;
  margin:20px;
  z-index: 1;
}
.admin-controls{
	margin-top: 10%;
	position:relative;
background-color: rgba(255,255,255,0.5);
	width: 100%;
	height: 100%;
	z-index: 2;
}

.admin-controls  a{
color:white;
text-decoration:none;
}
table{
    border-collapse:collapse;
    font-size:12px;
    margin:0px;
    padding:0px;
   width:100%;
}

tr:nth-child(even){
	background-color: #069370;
}

